body, button, input, select, textarea {

    font: 12px/1.6 Verdana, Helvetica, sans-serif;
    
    }
    
    .searchdiv{
    
    height:38px;
    
    padding:8px 0 0 0;
    
    background:#ffba00;
    
    border-top:1px solid #3e3e3e;
    
    border-bottom:1px solid #3e3e3e;
    
    text-align:center
    
    }
    
    /*.footerSearch .searchBar{margin:0 auto;}*/
    
    .searchTool{
    
    width:360px;
    
    height:32px;
    
    line-height:32px;
    
    margin:0px auto 0 auto;
    
    text-align:left;
    
    background:#fff;
    
    }
    
    .choose{
    
    cursor:pointer;
    
    height:32px;
    
    width:52px;
    
    display:inline-block;
    
    position:relative;
    
    line-height:32px;
    
    font-size:12px;
    
    text-align:center;
    
    padding-right:10px;
    
    }
    
    /*下拉箭头样式*/
    
    .choose b{
    
    position:absolute;
    
    right:8px;
    
    top:14px;
    
    width:0;
    
    height:0;
    
    border-width:4px 4px;
    
    border-style:solid;
    
    border-color:#868686 #fff #fff;
    
    font-size:0;line-height:0;
    
    }
    
    .searchTextInit{
    
    height:32px;
    
    line-height:32px;
    
    border:0;
    
    border-left:1px solid #eca128;
    
    padding:0 8px;
    
    font-size:12px;
    
    color:#333;
    
    color:gray;
    
    width:250px;
    
    background:#fff;
    
    float:left
    
    }
    
    .searchTextInput{
    
    height:32px;
    
    line-height:32px;
    
    border:0;
    
    border-left:1px solid #eca128;
    
    padding:0 8px; /*上 右 下 左*/
    
    font-size:12px;
    
    color:black;
    
    width:250px;
    
    background:#fff;
    
    float:left
    
    }
    
    .searchBtn{
    
    float:left;
    
    height:24px;
    
    width:24px;
    
    background:#fff
    
    url(images/bs.png) no-repeat center 0px;
    
    cursor:pointer;
    
    border:0;
    
    margin:4px 0 0 4px;
    
    }
    
    .searchBtn:hover{
    
    background:#fff url(images/bs.png)
    
    no-repeat center -24px;
    
    }
    
    .choose ul{
    
    border-bottom:1px solid #eca128;
    
    list-style:none;
    
    width:64px;
    
    padding:0px;
    
    }
    
    .choose:hover b{border-color:#868686 #fff #fff;}
    
    .choose:hover .choosePop{
    
    display:inline-block;
    
    }
    
    .choosePop{
    
    display:none;
    
    width:64px;
    
    position:absolute;
    
    left:-1px;
    
    top:20px;
    
    }
    
    /*鼠标离开列表上效果*/
    
    .choosePop ul li a:link,.choosePop ul li a:visited{
    
    color:#666;
    
    background:#fff;
    
    }
    
    /*鼠标移动到列表上效果*/
    
    .choosePop ul li a:hover,.choosePop ul li a:active{
    
    color:#2d2d2d;
    
    background:#ffba00;
    
    }
    
    .choosePop ul li{
    
    border-left:1px solid #eca128;
    
    border-right:1px solid #eca128;
    
    line-height:24px;
    
    }
    
    .choosePop ul li a{
    
    display:block;
    
    font-size:12px;
    
    text-decoration:none;
    
    }