<!DOCTYPE html> 
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link rel="stylesheet" href="/static/css/start.css" type="text/css">    <!--引入使用的css文件-->
     <style type="text/css">
            .btn34
        {
            width:216px;
            height:40px;
            background:url("/static/images/button/bg40.jpg") no-repeat;
            background-size: 100%;
            padding-bottom:2px;
            color:#FFF;
        }
    </style>
</head>

<body background="/static/images/start7.jpg" style="background-repeat: no-repeat; background-size: 100%;">
    
    <div class="d1">
    </div>
    <div class="d1">
    </div>
    <div class="d1">
    </div>
     <div class="d1">
    </div> 
    <div class="d1">
    </div>
    <div class="d1">
    </div>
    <div class="d1">
        <font color="white" size="+5" >
            <h1 align="center">虚拟智慧图书馆</h1>
        </font>
    </div>

    <div class="d1">
        <font color="white" size="+2">
            <h1 align="center">上海大学 V1.3.2</h1>
        </font>
    </div>

    <div class="d1">
        <center>
            <input type="button" class="btn34"  value="开始阅读之旅" onclick='location.href=("choose")' /><br/>
        </center>     
    </div>
</body>
</html>